<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap uap3">

	<Identity
	  Name="33942ShortDevelopment.UtilsforNearbySharing"
	  Publisher="CN=8E251084-44E9-4A7C-AB50-C78A32C26285"
	  Version="0.1.0.0" />

	<mp:PhoneIdentity PhoneProductId="854b5adb-be1d-41a2-9eee-c0e0dd62d895" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Utils for Nearby Sharing</DisplayName>
		<PublisherDisplayName>ShortDevelopment</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App" uap10:SupportsMultipleInstances="true">
			<uap:VisualElements
			  DisplayName="Utils for Nearby Sharing"
			  Description="Utils for Nearby Sharing"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Nearby Sharing" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap5:Extension Category="windows.appExecutionAlias">
					<uap5:AppExecutionAlias uap10:Subsystem="console">
						<uap5:ExecutionAlias Alias="NearShare.exe" />
					</uap5:AppExecutionAlias>
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<uap3:Capability Name="remoteSystem"/>
	</Capabilities>
</Package>
